


<ion-content>
  <div class="osahan-restaurant">
    <div class="osahan-restaurant-detail">
       <div class="p-3">
          <div class="forgot-page">
             
             <a class="toggle toggle-2" ><span></span></a>
             <a class="text-primary font-weight-bold" ><i class="feather-chevron-left"></i> Back</a>
          </div>
          <div class="pt-3" style="height:250px;width:100%;background-image: url('../../assets/img/ring.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;">
            <!-- <img src="../../assets/img/ring.jpg" style="width:100%;max-height: 10%;"> -->
          </div>
          <div class="pt-3" style="margin-left: 10px;margin-top: 20px;">
             <h4 class="font-weight-bold">Ring Of Desire</h4>
             <button class="btn btn-facebook btn-lg btn-block" style="margin-top:20px;text-align: left;font-size: 1rem;font-weight: bold;border: none !important;"><i class="feather-play" style="font-size:1.5rem;"></i>Watch Now</button>
             <div class=" p-3 " style="margin-top:1.5rem">
              <div class="d-flex align-items-center">
                 <!-- <a  class="btn btn-sm btn-outline-light ml-auto">Contact</a> -->
              </div>

           </div>
           <div>
            <ion-row  class="feather_icon" style="padding-left: 7%;">
              <ion-col size="3"><a  class="text-decoration-none text-dark" style="font-size:1.4rem"><i class="p-3 btn-facebook rounded-circle font-weight-bold  feather-plus"></i></a><br><br>WatchList</ion-col>
              <ion-col size="3"><a  class="text-decoration-none text-dark " style="font-size:1.4rem"><i class="p-3 btn-facebook rounded-circle font-weight-bold  feather-download"></i></a><br><br>Download</ion-col>
              <ion-col size="3"><a  class="text-decoration-none text-dark" style="font-size:1.4rem"><i class="p-3 btn-facebook rounded-circle font-weight-bold feather-share-2"></i></a><br><br>  Share</ion-col>
              <ion-col size="3"><a  class="text-decoration-none text-dark" style="font-size:1.4rem"><i class="p-3 btn-facebook rounded-circle font-weight-bold feather-more-vertical"></i></a><br><br>  More</ion-col>
            </ion-row>
          </div>
          </div>
       </div>
    </div>

  
 </div>
  <app-tabs></app-tabs>
</ion-content>

